---
import type { CollectionEntry } from "astro:content";
import { getReadUrlBySlug } from "@utils/url-utils";
import PostCard from "./PostCard.astro";

const { page } = Astro.props;

let delay = 0;
const interval = 50;
---
<div class="transition grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-5 lg:gap-6 mb-4">
    {page.data.map((entry: CollectionEntry<"read">) => (
        <PostCard
                entry={entry}
                title={entry.data.title}
                tags={entry.data.tags}
                category={entry.data.category}
                published={entry.data.published}
                updated={entry.data.updated}
                url={getReadUrlBySlug(entry.id)}
                image={entry.data.image}
                description={entry.data.description}
                draft={entry.data.draft}
                author={entry.data.author}
                bookTitle={entry.data.bookTitle}
                rating={entry.data.rating}
                cover={entry.data.cover}
                class:list="onload-animation"
                style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
        ></PostCard>
    ))}
</div>
